<div class="container-fluid bg-dark text-light p-5">
    <div class="container bg-dark p-5">
        <h1 class="display-4">Welcome to Github Search</h1>
        <hr>
        <p>Use the search form below</p>
        <div>

        </div>

    </div>
</div>
<div class="container">
    <h3>User Profile</h3>
    <div class="card mb-3" style="max-width: 1000px;">
        <div class="row g-0">
            <div class="col-md-3">
                <img src="{{ user.avatar_url }}">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h5 class="card-title">{{user.login}}</h5>
                    <p class="card-text">Repositories: {{user.public_repos}}</p>
                    <p class="card-text">Following : {{user.following}}</p>
                    <p class="card-text">Followers : {{user.followers}}</p>
                    <a href="{{user.html_url}}">Link to github</a>
                </div>
            </div>
        </div>
    </div>

    <h3>User Repositories</h3>
    <div class="card text-center">
        <div *ngFor="let repos of repo">
            <div class="card-header">
                {{ repos.name }}
            </div>
            <div class="card-body">
                <p class="card-text">{{ repos.description }}</p>
                <a href="{{ repos.html_url }}" class="btn btn-primary">Visit Project</a>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>

    </div>
</div>